* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html,
body {
    scroll-behavior: smooth;
}

#courses,
#features {
    scroll-margin-top: 80px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

.dots {
    display: flex;
    gap: 0 6px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.dot.active {
    background-color: #ffb900;
    cursor: default;
}

/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    display: inline-block;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
    border-radius: 24.5px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
    /*Thẻ inline hoặc inline-block thiết kế để hiện thị chữ, mặc định căn theo base line(có phần dư ở dưới hiện thị chân chữ)*/
}

.hero-summary {
    position: absolute;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    right: 0;
    bottom: 48px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item .icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* Hero Right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block-wrap {
    width: 470px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
    border-radius: 32px;
    font-size: 1.8rem;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .watch-video span {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 14px;
}

.hero .cta-group + p.desc {
    margin-top: 48px;
}

.hero .content-block .stats {
    margin-left: -28px;
    margin-top: 8px;
}

.hero .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
    padding: 0 16px 0 28px;
}

/* Popular */
.popular {
    margin: 200px 0;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.blog-list .cta-blog:hover,
.popular .foot .book-btn:hover,
.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    vertical-align: bottom;
}

.popular .course-item:nth-of-type(2) .thumb {
    object-position: 10%;
}

.popular .course-list .info {
    padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    margin-left: 6px;
}

.popular .course-item .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
    margin-top: 6px;
    height: calc(1.86em * 2);
}

.popular .foot {
    margin-top: 12px;
}

.popular .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .foot .btn {
    border-radius: 25px;
    font-size: 1.4rem;
    border: none;
}

/* Feedback */
.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.blog .main-content,
.feedback .main-content {
    overflow: hidden;
}

.feedback-list {
    display: flex;
    transition: all ease 1s;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
    margin-top: 28px;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54; /* 153.846% */
}

/* Features */
.features {
    padding: 65px 0;
    margin: 135px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    object-position: 20% 0;
}

.features .images img:first-child {
    margin-top: 34px;
}

.features .images img:last-child {
    object-position: 85% 0;
}

.features .content {
    width: 41%;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .content .cta-btn {
    min-width: 137px;
    border-radius: 26px;
    background-color: var(--primary-color);
    margin-top: 32px;
}

.features-2nd {
    padding-top: 0;
    margin-top: 0;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img:first-child {
    margin-top: 0;
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog */
.blog {
    padding: 96px 0;
    background-color: #fffcf4;
}

.blog .blog-top {
    text-align: center;
    width: 448px;
    margin: 0 auto;
}

.blog-top .desc {
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blog .blog-slider {
    display: flex;
    margin-top: 55px;
    transition: all ease 1s;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    flex-shrink: 0;
    width: 100%;
}

.blog .blog-item {
    width: calc((100% - 60px) / 3);
    background-color: #fff;
    border-radius: 16px;
    flex-shrink: 0;
}

.blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-list .thumb {
    width: 100%;
    height: 574px;
    object-fit: cover;
    object-position: top left;
    border-radius: 16px 16px 0px 0px;
    vertical-align: bottom;
}

.blog-list:nth-of-type(2) .blog-item:first-child .thumb,
.blog-list:nth-of-type(2) .blog-item:last-child .thumb {
    object-position: 50% 0;
}

.blog-list .info {
    padding: 20px 20px 28px;
}

.blog-list .title {
    margin-top: 25px;
}

.blog-list .title a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    /* height: calc(1.75em * 2); */
}

.blog-list .cta-blog {
    margin-top: 12px;
    border-radius: 25px;
    font-size: 1.4rem;
}

.blog-list .date {
    position: relative;
    padding-left: 10px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.blog-list .date::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog-list .date::after {
    position: absolute;
    bottom: -12px;
    left: 0;
    content: "";
    display: block;
    width: calc(100% + 37px);
    height: 1px;
    border-radius: 0.5px;
    background-color: #e2dfda;
}

.blog .dots {
    margin-top: 38px;
    justify-content: center;
}

.blog .dot {
    width: 12px;
    height: 12px;
}

/* Footer */
.footer {
    background-color: #2e2100;
    padding-top: 96px;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .column:first-child {
    width: 35%;
}

.footer .column {
    width: 21.6%;
}

.footer .desc {
    margin-top: 18px;
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.footer .socials {
    margin-top: 18px;
    display: flex;
    gap: 0 18px;
}

.footer .title {
    color: #fff;
    width: 130px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
}

.footer .list {
    margin-top: 16px;
}

.footer .list a {
    display: inline-block;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
    padding-top: 12px;
}

.footer strong {
    color: #fff;
    font-weight: 600;
}

.footer .copyright {
    padding: 28px 0;
    text-align: center;
}

.footer .copyright p {
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}
